<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalEclips.eclips.guide.mapper.GuideMapper">
<select id="getAllGuides" resultType="com.example.finalEclips.eclips.guide.dto.Guide">
        SELECT * FROM GUIDE ORDER BY guide_id
</select>
</mapper>